<!DOCTYPE html>
<html>
  <head>
    <title>Addis Ababa Unviersity Course Management App |  <%= yield(:title) %> </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <header>
      <%= render '/layouts/nav'%> 
    </header>
    <section>
        <%= yield %>
    </section>
    <footer>
        <%= render '/layouts/footer'%>
    </footer>
    
  </body>
</html>
